body{background-color:aqua;}
button {
    background-color: #0000FF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin:20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;};
p {font-size: 40px;
 border: solid;
    color: maroon;
    padding: 15px 32px;
    margin:20px;
    text-align: center;};
#line2 {font-size: 40px;
 border: solid;
    color: maroon;
    padding: 15px 32px;
    margin:20px;
    text-align: center;};
   
